*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

/* Barra de navegação */

#nav-top {
    position: sticky;
}

.nav-top ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    padding: 30px;
    background-color: #868C8F;
    color: #FFFFFF;
    font-weight: 900;
    
}

.nav-top a{
    padding: 16px;
    margin: auto;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-top a:hover{
    background-color: #FFFAEE;
    color: #868C8F;
}

.section-title {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Sessão Apresentação*/

#home-apresentacao {
    padding: 30px;
}

/* Sessão Formação */

#formacao {
    padding: 30px;
}

.logo-center {
    text-align: center;
}

.info-formacao {
    font-size: large;
    margin: auto;
}

.lista-formacao {
    padding: 12px;
}

.info-formacao td {
    border: thick solid #868C8F;
}

/* Sessão Formulário */

#contato {
    padding: 30px;
}

fieldset{
    width: 50%;
    margin:auto;
    padding: 16px;
    border: solid #868C8F;
}

input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 6px 2px;
}


footer {
    background-color: #f1f1ef;
}